<!-- <h1>yo</h1> -->
<!-- <app-search></app-search> -->
<!-- <app-binding></app-binding> -->
<!-- <app-event></app-event> -->
<!-- <app-event2 (myChange)="onUpdate($event)"></app-event2>
<div>{{log |json}}</div> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-my-input [(myModel)]="name"></app-my-input>
<app-my-input [(myModel)]="age"></app-my-input>
<div>姓名 :{{name}}</div>
<div>年龄 :{{age}}</div> -->
<!-- <app-black-board [width]="800" [expandBoundary]="300"></app-black-board> -->
<button (click)="v=!v">开关</button>
<app-black-board2 [width]="800" [editorVisible]="v"></app-black-board2>