form{
    max-width: 600px;
    display: block;
}

form input,
form button[type=submit],
form textarea{
    width: 100%;
}
table{
    width: 100%
}
thead{
    text-align: left;
}
td:last-of-type,
th:last-child{
    text-align: right;
}