:host {
  color: #444;
  font-family: sans-serif;
}
textarea {
    width: 100%;
  }

  .board {
    padding: 1em;
    /* border: 2px solid #aaa; */
    margin: .5em 0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
  }
  h2, h3, h4 {
    margin: .5em 0;
  }
  button{
    padding: .4em .8em;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    border-radius: 3px;
color: inherit;

  }